.contact-banner {
    position: relative;
    width: 100vw;
    height: 500px;
    background-image: url('../../assets/imageContact.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.containerContact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;

    margin-top: 30px;
    margin-bottom: 30px;
}

.cardContact {
    padding: 30px;
    margin: 20px;

    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    font-family: sans-serif;

    background-color: #d4eaff;
}

.titleContact{
    font-family: "Poetsen One", sans-serif;
}