.headerContainer {
    width: 100%;
    height: 110px;
    background-color: rgb(255, 252, 237);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 9999; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.headerLink {
    color: #7BB0E1;
    font-family: 'Montserrat', sans-serif;
    padding-left: 25px;

    font-weight: bold;
}


body,
html {
    width: 100%;
}

.containerHeaderLink {
    display: flex;
}

.containerPerson {
    display: flex;
}

.buttonDonate {
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-top: -10px;
    margin-left: 20px;

    border-radius: 10px;
    background-color: #F2C400;
}